<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <context-param>
    <param-name>Greetings</param-name>
    <param-value>Hello</param-value>
  </context-param>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>io.training.controller.StudentServlet</servlet-class>
    <init-param>
      <param-name>myprop</param-name>
      <param-value>value</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/student-list</url-pattern>
  </servlet-mapping>
</web-app>